/*////////////////////////////////////////////////////
CSS de mi vista files.view 
///////////////////////////////////////////////////*/
.file-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    overflow-x: auto;
    width: 70%;
}

.line-numbers {
    counter-reset: line-number;
    text-align: left;
}

.line {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
}

.line-number {
    text-align: left;
    display: inline-block;
    width: 30px; /* Ajusta el ancho según sea necesario */
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    color: #888;
    border-right: 1px solid #ddd;
}

.main-container {
    display: flex;
    justify-content: space-between; /* Espacia los contenedores */
    width: 100%;
    max-width: 1340px; /* Ajusta el ancho máximo según tus necesidades */
}
.container-right {
     /* Elimina el float y el margen derecho */
     float: none;
     margin-right: 0;
     /* Agrega posición fija */
     position: fixed;
     top: 0; /* Ajusta según sea necesario */
     bottom: 0; /* Ajusta según sea necesario */
     left: 0; /* Ajusta según sea necesario */
     width: 30%; /* Ajusta el ancho según sea necesario */
     max-width: 320px; /* Ajusta el ancho máximo según sea necesario */
     background-color: #161b22; /* Color de fondo */
     padding: 10px; /* Espaciado interno */
     overflow-y: auto;
     /* Elimina la altura del 100% */
     /* height: 100%; */
}

.container-right ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.container-right li {
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." para el texto que se desborda */
    width: 100%; /* Asegura que el elemento ocupe todo el ancho del contenedor */
}
.container-center {
      /* Reduce el ancho para dar espacio al contenedor derecho */
      width: calc(100% - 24%); /* Resta el ancho del contenedor derecho */
      /* Agrega un margen izquierdo para centrar el contenedor */
      margin-left: 24%; /* Igual al ancho del contenedor derecho */
      background-color: #161b22; /* Fondo blanco para el contenedor central */
      padding: 10px; /* Espaciado interno */
}
.responsive-img {
    max-width: 100%; /* La imagen no será más ancha que el contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
}

/*////////////////////////////////////////////////////
CSS de mi vista files.index 
///////////////////////////////////////////////////*/

/* Personalización del enlace para la carpeta */
.custom-link {
    align-items: center;
    color: white; /* Color blanco por defecto */
    text-decoration: none; /* Sin subrayado */
}

.custom-link:hover .link-text {
    color: rgb(86, 86, 240); /* Color azul al pasar el mouse */
    text-decoration: underline; /* Sin subrayado */
}

.custom-link i {
    margin-right: 8px; /* Separación del icono y el texto */
}

/* Personalización del enlace para los commits */
.custom-link-commit {
    color: white; /* Color blanco por defecto */
    text-decoration: none; /* Sin subrayado */
}

.custom-link-commit:hover {
    color: rgb(86, 86, 240); /* Color azul al pasar el mouse */
    text-decoration: underline;
}

/* Otros estilos existentes */
.i_update {
    text-align: left;
    float: right;
    padding-right: 1%;
}

.i_folder {
    text-align: left;
    float: right;
}

.i_file {
    text-align: center;
    padding-left: 10%;
}

.li_responsive {
    white-space: nowrap; /* Evita que el texto se envuelva a la siguiente línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." para el texto que se desborda */
    width: 100%; /* Asegura que el elemento ocupe todo el ancho del contenedor */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Área de texto */
.text_description {
    overflow-y: hidden; /* Ocultar la barra de desplazamiento vertical */
    resize: none; /* Deshabilitar el redimensionamiento manual por parte del usuario */
    background-color: #161b22; /* Color de fondo del textarea cuando está habilitado */
    color: #ffffff; /* Color del texto cuando está habilitado */
    border: 1px solid #3e434b; /* Color del borde */
    box-shadow: none;
}

/* Estilo específico para el textarea deshabilitado */
.text_description:disabled {
    background-color: #161b22; /* Cambia este valor al color deseado para el fondo */
    color: #ffffff; /* Cambia este valor al color deseado para el texto */
    border-color: #3e434b; /* Cambia este valor al color deseado para el borde */
}

.color_index_folder {
    background-color: #404652;
    color: white;
    border: 0.5px solid rgb(119, 117, 117); /* Añade un borde blanco de 0.5px */
}

.color_index_file {
    background-color: #2c3644;
    color: white;
    border: 0.5px solid rgb(119, 117, 117); /* Añade un borde blanco de 0.5px */
}

.color_folder {
    color: rgb(99, 63, 170) !important;
}

.color_file {
    color: rgb(130, 117, 161) !important;
}


/*////////////////////////////////////////////////////
CSS de mi vista commit.view 
///////////////////////////////////////////////////*/
/* Estilo para el contenedor de diferencias */
/* Estilo para el contenedor de diferencias */
.diff-container {
    background-color: #282c34;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

.line-diff {
    display: block;
    margin: 0;
    padding: 5px 0;
    color: white;
}

.line-diff-red {
    background-color: rgba(255, 0, 0, 0.2);
    padding-left: 10px;
}

.line-diff-green {
    background-color: rgba(0, 255, 0, 0.2);
    padding-left: 10px;
}

.line-diff-white {
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
}
