/* Asegúrate de que el contenedor principal sea un flex container */
.hidden {
    display: none;
}

/* Otros estilos existentes */
.second-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #0d1117;
    border: 1px solid #0d1117;
    overflow-x: hidden;
}

.container-left,
.container-right {
    flex: 1.5;
    max-width: 30%;
    height: 100vh;
}

.color_index {
    background-color: #161b24;
    color: white;
    border: 0.5px solid rgb(119, 117, 117);
}

.form-control.color_index::placeholder {
    color: #3e434b;
}

.list-group-item.color_index {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item.color_index:hover span {
    text-decoration: underline;
}

.repo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.repo-link i {
    margin-right: 0.5rem;
}

.trash-icon {
    cursor: pointer;
    color: rgb(209, 91, 91) ;
}

/* Estilos adicionales */
.container-center {
    flex: 4;
    max-width: 60%;
    margin: 0 10px;
}

.container-left,
.container-center,
.container-right {
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.container-left {
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #161b22;
    border-right: 0.5px solid rgb(119, 117, 117);
}

.container-right {
    margin-left: auto;
    background-color: #161b22;
    border-left: 0.5px solid rgb(119, 117, 117);
}

.btn-full-height {
    height: 90% !important;
    width: 80%;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
}

.btn-text-only {
    background: none;
    border: none;
    color: grey;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.btn-text-only:hover {
    color: rgb(13, 13, 179);
}

#results {
    margin-top: 10px;
}

.repo-item {
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
/* Nueva clase para reducir el espacio de <hr> */
.small-hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #161b24;  /* Puedes ajustar el color y el tamaño según sea necesario */
}
